html {
    font-family: 'Roboto', sans-serif;
    color: #333;
}

body {
    margin: 0 auto;
    max-width: 1280px;
}

h1, h2{
    color: tomato;
    margin-top: 0;
}

.center {
    display: block;
    margin: 50px auto;
    width: 50%;
}

.sidenav {
  list-style-type: none;
  margin: 16px 0px 16px 8px;
  padding: 0;
  width: 240px;
  color: white;
  background-color: tomato;
  height: 95%;
  position: fixed;
  overflow: auto;
  border-radius: 6px;
}

.sidenav a {
    display: block;
    padding: 8px 8px 8px 16px;
    font-size: 1.3em;
    color: white;
    text-decoration: none;
}

.sidenav a:hover {
    background-color: crimson;
    color: tomato;
}

.sidenav .ativa {
    background-color: crimson;
}

.sidenav .ativa:hover {
    color: tomato;
}

.main {
    padding-top: 16px;
    padding-left: 260px;
    display: block;
}

.row {
    display: flex;
}
.col {
    flex: 1;
    margin-right: 20px;
    margin-bottom: 20px;
}

.cartao {
    border-radius: 5px;
    border: 2px solid #EEE;
    box-shadow: 2px 2px 2px #EEE;
}

.cartao:hover {
    border-color: tomato;
    box-shadow: 2px 2px 2px tomato;
}

.cartao-projeto {
    padding: 20px;
    display: block;
    max-width: 30%;
    height: 200px;
    margin-bottom: 20px;
    position: relative;
}

.cartao-projeto a{
    position: absolute;
}

.cartao-requisitos {
    padding: 20px;
    display: block;
    height: 316px;
    
    border-radius: 5px;
    border: 2px solid #EEE;
    box-shadow: 2px 2px 2px #EEE;
    position: relative;
}

.button {
    min-width: 80px;
    font-size: 0.9em;
    text-decoration: none;
    color: tomato;
    background-color: #FFF;
    border: 1px solid tomato;
    border-radius: 6px;
    margin: 16px;
    padding: 5px;
    right: 0;
    bottom: 0;
}

.button:hover {
    color: #FFF;
    background: tomato;
}

#login-title {
    margin-top: 20px;
    text-align: center;
}

#login {
    font-size: 1.2em;
    padding: 0 40px;
    text-decoration: none;
    color: tomato;
    background-color: white;
    border: 1px solid tomato;
    border-radius: 10px;
    margin-top: 16px;
}

#login:hover {
    color: #FFF;
    background: tomato;
}

#cadastrar-requisito {
    padding: 16px 16px 0 16px;
    margin-right: 20px;
}

/*Formatar formulários*/

/*
.form-cadastrar-usuario { 
    display: table;      
}

.form-cadastrar-usuario p {
    display: table-row;
}

.form-cadastrar-usuario label {
    display: table-cell;
    text-align: right;
}

.form-cadastrar-usuario input {
    display: table-cell;
}


.textarea-label {
    vertical-align: top;
    horizontal-align: right;
}

*/

#login-form {
    padding: 16px;
    border-radius: 5px;
    border: 2px solid #EEE;
    box-shadow: 2px 2px 2px #EEE;
    margin: 0 auto; 
    width:265px;
    text-align: center;
}

form input, textarea {
    border-radius: 5px;
    border: 2px solid #EEE;
    box-shadow: 2px 2px 2px #EEE;
    margin: 5px;
    resize: none;
}

label {
    float: left;
    width: 160px;
    text-align: right;
    padding-right: 16px;
    margin-top: 8px;

}

.radio-align {
    padding-top: 6px;
}
